<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Web.SeleniumTestNG.WebDriverWaits"/>
      <class name="Web.SeleniumTestNG.BasicAuth"/>
      <!-- Add more test classes here if needed -->
    </classes>
  </test>
</suite>
